header{
   background: rgb(44,186,162);
}
#canvas li .explain-top{
  background: rgb(44,186,162);
}

.btn-box button{
    background: rgb(44,186,162);
}

 #page2{
    display: none;
    height: 100%;
    background: url(../img/xunlian/test_bg.png) no-repeat;
    background-size: 100% 100%;
 }
 #timeOut{
width: 30px;
height: 30px;
text-align: center;
line-height: 30px;
position: absolute;
right: 5px;
bottom: 5px;
z-index: 1002;
background:#fff;
border-radius: 100%;
-webkit-border-radius:100%;
border: 1px solid #eee;
 -webkit-box-shadow:2px 2px 2px #999;
 }
#moveBox{
  display: block;
  width: 10px;
  height: 10px;
  position: fixed;
  z-index: 1005;
  top: 40%;
  left: 50%;
}


.trans{
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: change 12s  linear 0s;

}



#page3{
height: 100%;
display: none;
}
#page3 .result-box{
  background: rgb(44,186,162);
  height: 40%;
  padding-top: 15%;
}
#page3 .result-box .result-img{
  text-align: center;

}
#page3 .result-box .result-img img{
  width: 70px;
  height: 70px;
}
#page3 .result-box .result-text{

  color: #fff;
  text-align: center;
  margin-top: 20px;
}
#page3  .btn-box{
  height: 40%;
  padding-top: 20%;
}

.fade_box{
  width: 60%;
  height: 40px;
  line-height: 40px;
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 1.1em;
  position: fixed;
  top: 20px;
  left: 20%;
  z-index: 1002;
  text-align: center;
  display: none;
  border-radius: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
}


@-webkit-keyframes change{
  0%{
     -webkit-transform: scale(1,1) rotate(0deg)
  }
  3%{
  -webkit-transform: scale(1,1) rotate(0deg);
  }

  10%{

  -webkit-transform: scale(12,12) rotate(0deg);
 
  }
  13%{

  -webkit-transform: scale(12,12) rotate(0deg);
  }
  20%{

    -webkit-transform: scale(12,12) rotate(360deg);
  
  }
  23%{
    -webkit-transform: scale(12,12) rotate(360deg);
  }
  30%{
    -webkit-transform: scale(12,12) rotate(0deg);

  }
  33%{
    -webkit-transform: scale(12,12) rotate(0deg);

  }
  40%{
  -webkit-transform: scale(1,1) rotate(0deg);
  }
   43%{
  -webkit-transform: scale(1,1) rotate(0deg);
  }
  50%{
    -webkit-transform: scale(6,6) rotate(0deg); 

  }
  53%{
    -webkit-transform: scale(6,6) rotate(0deg); 

  }
  60%{
     -webkit-transform: scale(6,6) rotate(360deg); 
  }
  63%{
  -webkit-transform: scale(6,6) rotate(360deg); 
  }
  70%{
   -webkit-transform: scale(6,6) rotate(0deg);  

  }
  73%{
 -webkit-transform: scale(6,6) rotate(0deg);  
  }
  80%{
   -webkit-transform: scale(1,1) rotate(0deg);   
  }
  83%{
   -webkit-transform: scale(1,1) rotate(0deg);   
  }
  90%{
 -webkit-transform: scale(12,12) rotate(0deg); 
  }
  93%{
 -webkit-transform: scale(12,12) rotate(0deg); 
  }
  100%{
   -webkit-transform: scale(1,1) rotate(0deg);  
  }
}